<h1>SAMPLE APP : SIGN UP PAGE ! </h1>
	<p> Just changed the SIGN UP page, to a much better one ! </p>
	<p>This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
	</p>